[Unit]
Description=sPIffer network interface setup
Requires=NetworkManager.service
Wants=network-online.target
After=NetworkManager.service network-online.target
ConditionPathExists=/usr/sbin/spiffer-net-setup

[Service]
Type=oneshot
ExecStart=/usr/sbin/spiffer-net-setup apply
ExecStop=/usr/sbin/spiffer-net-setup stop
RemainAfterExit=yes
TimeoutStartSec=45
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target