#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	npm ci --omit=dev

override_dh_auto_clean:
	rm -rf node_modules
	dh_auto_clean

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/spiffer/usr/lib/spiffer/scripts/*.sh
